BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
SortIncludes: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
IndentCaseLabels: true
